.btn-flat {
    background-color: red ;
    color: white;
}

.btn-flat:focus {
    background-color: #3b7cff80;
}

.btn-flat:hover:not(:focus) {
    background-color: rgba(135, 207, 235, 0.703);
}

.btn-flat:hover:focus {
    background-color: #3b7cff80;
}

.cardinal{
    background-color: rgba(100, 116, 139, 0.1)
}

.cardinal:hover {
    background-color: #345de159;
}

.min-height {
    min-height: 100vh;
}