/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Button Styles */
.btn-flat {
  background-color: rgb(93, 93, 241) !important;
  color: white !important;
}

.btn-flat.active {
  background-color: #3b7cff80 !important;
}

.btn-flat.active:hover {
  background-color: #3b7cff80 !important;
}

.btn-flat:hover:not(.active) {
  background-color: rgba(135, 207, 235, 0.703) !important;
}

/* Cardinal Styles */
.cardinal {
  background-color: rgba(100, 116, 139, 0.1);
}

.cardinal:hover {
  background-color: #345de159;
}

/* Linetime Styles */
.linetime {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.linetime:before {
  content: "";
  top: 0;
  left: 40px;
  height: 100%;
  width: 2px;
  background-color: black;
  border: 1px solid gray;
  position: absolute;
  margin-left: 1px;
}

.linetime li {
  position: relative;
  margin-bottom: 2rem;
  min-height: 80px;
}

.linetime li:before,
.linetime li:after {
  display: table;
  content: "";
}

.linetime li:after {
  clear: both;
}

.linetime-img {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 6px solid #000;
  overflow: hidden;
  background: #000;
  color: #fff;
}

.linetime-img h4 {
  font-size: 0.8rem;
  margin-top: 50%;
  transform: translateY(-50%);
}

.linetime-panel {
  position: relative;
  padding-left: 100px;
}

.min-height {
  min-height: 100vh;
}

.navbar {
  position: relative;
  z-index: 1;
}

.page-section {
  padding: 7.5rem 0;
}

.project-card {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.project-card:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
  cursor: pointer;
}

.box-wrapper {
  position: relative;
  background: linear-gradient(to right, red, purple);
  padding: 4px;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.5);
  display: flex; /* Make .box-wrapper a flex container */
  flex: 1; /* Allow it to grow and fill the space */
}

span {
  background: -webkit-linear-gradient(red, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Media Queries */
@media (min-width: 768px) {
  .linetime:before {
    left: 50%;
  }

  .linetime li {
    position: relative;
    margin-bottom: 2rem;
    min-height: 50px;
  }

  .linetime-panel {
    width: 40%;
    padding: 0;
    float: left;
    text-align: right;
  }

  .linetime-img {
    left: 50%;
    transform: translateX(-48%);
    width: 120px;
    height: 120px;
  }

  .linetime-img h4 {
    font-size: 1rem;
  }

  .inverted {
    float: right;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .linetime li {
    position: relative;
    margin-bottom: 4rem;
    min-height: 50px;
  }

  .linetime-img {
    width: 170px;
    height: 170px;
  }

  .linetime-img h4 {
    font-size: calc(1.275rem + 0.3vw);
  }

  .linetime-panel {
    padding: 0 1.25rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .between-justify-content {
    justify-content: space-between;
  }
}