.btn-flat {
    background-color: blue !important;
    color: white !important;
}

.btn-flat.active {
    background-color: #3b7cff80 !important;
}

.btn-flat:hover:not(.active) {
    background-color: rgba(135, 207, 235, 0.703) !important;
}

.btn-flat.active:hover {
    background-color: #3b7cff80 !important;
}

.cardinal{
    background-color: rgba(100, 116, 139, 0.1)
}

.cardinal:hover {
    background-color: #345de159;
}

.min-height {
    min-height: 100vh;
}